.beijing{
    background-image: url(../logImg/beijing1.jpg);
    height: 700px;
    width:100%;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.denglu{
    height: 250px;
    width: 25%;
    margin-top: 200px;
    border-radius: 10px;
    background-color: rgba(61,130,179,0.3);
}
.kaoshi{
    margin-top: 20px;
    margin-left: 37%;
}
.form{
    margin-top: 37px;
    margin-left: 20%;
}
.denglu1{
    margin-left: 19%;
    margin-bottom: 50px;
}
.boss{
    width: 10px;
    height: 10px;
    background-color: aqua;
    margin-bottom: auto;
    margin-right: auto;
}